.grid {
    --gridColumns: 1;

    display: grid;
    grid-template-columns: repeat((var(--gridColumns)), 1fr);
    justify-items: center;

    gap: 40px;

    @include mobile{
        gap: 20px;
    }

    @for $i from 2 through 12 {
        &--#{$i} {
            --gridColumns: #{$i};
        }
    }

    &--2{
        @include mobile{
            --gridColumns: 2;
        }
    }

    &--3{
        @include desktop{
            --gridColumns: 3;
        }

        @include mobile{
            --gridColumns: 2;
            justify-items: center;
        }
    }

    &--4{
        --gridColumns: 4;

        @include mobile{
            --gridColumns: 2;
            justify-items: center;
        }
    }
}