.header {

    &__inner {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 20px;

        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 99;

        @include mobile{
            padding-block: 10px;
        }
    }

    &__logo {
        display: flex;
        align-items: center;

        p {
            color: var(--color-light);
        }
    }

    &__links {
        display: flex;
        column-gap: 32px;
        align-items: center;
    }

    &__list {
        display: flex;
        column-gap: 32px;

        &-item {
            position: relative;

            span {
                color: var(--color-accent-alt);
            }

            @include underline;
        }

        &-item.active {
            color: var(--color-light);

            span {
                color: var(--color-accent);
            }
        }

        &-item {
            @include hover {
                color: var(--color-light);

                span {
                    color: var(--color-accent);
                }
            }
        }
    }
}

.switch {
    font-weight: 600;

    @include tablet {
        order: -1;
    }
}

.logo {

    p {
        @include hover {
            color: var(--color-accent);
        }
    }

}