.projects{

    &__top{
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        @include mobile-s{
            flex-direction: column;
            row-gap: 30px;
            justify-content: center;
        }
    }

    &__link-more{
        @include underline;
        position: relative;

        color: var(--color-accent);
    }
    

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 12px;

        @include tablet{
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }

        &-item{
            max-width: 330px;
            border: var(--border);
            text-align: center;

            @include mobile{
                max-width: 270px;
            }
        }

        &-stek{
            padding-block: 10px;
            border-bottom: var(--border);
        }

        &-name{
            margin-block: 16px;
        }

        &-descr{
            margin-bottom: 16px;
        }

        &-link{
            margin-bottom: 16px;
            border-color: var(--color-accent);
        }
    }    
}