.contacts {


    &__list {
        display: flex;
        justify-content: space-between;
        column-gap: 40px;

        @include mobile{
            flex-direction: column;
            align-items: flex-start;
            padding-block: 40px;
        }

        @include mobile-s{
            padding-block: 25px;
        }

        &-text {
            max-width: 400px;
            margin-block: 20px;
        }

        &-email {
            border: var(--border);
            padding: 16px;

            display: flex;
            align-items: center;
            column-gap: 10px;
            padding-inline: auto;
        }

        &-telegram {
            max-width: 220px;
            margin-top: 18px;
            border: var(--border);
            border-color: var(--color-accent);
            padding: 16px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            cursor: pointer;
        }
    }
}