.projects {

    &__top {
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        @include mobile-s {
            flex-direction: column;
            row-gap: 30px;
            align-items: flex-start;
        }
    }

    &__link-more {
        @include underline;
        position: relative;

        color: var(--color-accent);
    }


    &__list {
        gap: 18px 14px;

        &-item {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            max-width: 330px;
            border: var(--border);
            text-align: center;

            @include mobile {
                max-width: 270px;
            }

            @include mobile-s {
                max-width: 200px;
            }
        }

        &-img {
            height: 180px;

            @include tablet{
                height: 150px;
            }

            @include mobile{
                height: 130px;
            }

            @include mobile-s{
                height: 110px;
            }
        }

        &-stek {
            padding-block: 10px;
            border-bottom: var(--border);

            @include mobile-s {
                font-size: 12px;
                padding-block: 6px;
            }
        }

        &-name,
        &-descr {
            margin-block: 16px;

            @include mobile{
                
            }

            @include mobile-s {
                margin-block: 8px;
                font-size: 14px;
            }
        }

        &-name{
            margin-bottom: 0;
        }

        &-descr{
            padding-inline: 10px;
        }

        &-link {
            margin-bottom: 16px;
            border-color: var(--color-accent);
        }
    }
}