.skills {

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        position: relative;
        font-size: 20px;
        height: 200px;

        @include mobile{
            margin-top: 60px;
            font-size: 16px;
        }

        &-item {
            border: var(--border);
            position: absolute;

            &:nth-child(1) {
                width: 150px;
                top: 20px;
                right: 0;

                @include mobile{
                    width: 120px;
                }
            }

            &:nth-child(2) {
                top: 0;
                right: 180px;
                width: 220px;

                @include mobile{
                    width: 160px;
                    right: 140px;
                }
            }

            &:nth-child(3) {
                top: 150px;
                right: 170px;
                width: 200px;

                @include mobile{
                    width: 150px;
                    right: 130px;
                }
            }
        }

        &-name {
            border-bottom: var(--border);
            padding: 10px;
        }

        &-descr {
            padding: 10px;
            line-height: 1.4;
        }
    }


    &__decor {
        margin-top: 50px;
        width: 500px;
        height: 200px;

        display: flex;
        justify-content: space-between;
        position: relative;

        @include tablet{
            opacity: 0.5;
        }

        @include mobile{
            width: 200px;
        }

        @include mobile-s{
            display: none;
        }
        

        &::after {
            content: "";
            position: absolute;
            width: 80px;
            height: 100px;
            border: var(--border);
            border-top: none;
            left: 160px;
            top: 75px;

            @include mobile{
                display: none;
            }
        }

        &::before{
            content: "";
            position: absolute;
            width: 100px;
            height: 80px;
            border: var(--border);
            border-left: none;
            left: 200px;
            top: 35px;

            @include mobile{
                display: none;
            }
        }


        img {
            height: 50px;
            position: relative;
        }
    }
}